@font-face {
    font-family: "icons";
    src: url("../../../fonts/icons.eot?1.073573773826274e+308?#iefix") format("embedded-opentype"),
    url("../../../fonts/icons.woff2?1.073573773826274e+308") format("woff2"),
    url("../../../fonts/icons.woff?1.073573773826274e+308") format("woff"),
    url("../../../fonts/icons.ttf?1.073573773826274e+308") format("truetype"),
    url("../../../fonts/icons.svg?1.073573773826274e+308#icons") format("svg");
}
        
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
    content: "\f101";
}
.icon-floppy-disk:before {
    content: "\f102";
}
.icon-heart_vazado:before {
    content: "\f103";
}
.icon-heart:before {
    content: "\f104";
}
.icon-twitter:before {
    content: "\f105";
}
.icon-whatsapp:before {
    content: "\f106";
}
