@font-face {
    font-family: "icons";
    src: url("./icons.eot?1a1066bff87ba6692e584ab2be4a19d1?#iefix") format("embedded-opentype"),
url("./icons.woff2?1a1066bff87ba6692e584ab2be4a19d1") format("woff2"),
url("./icons.woff?1a1066bff87ba6692e584ab2be4a19d1") format("woff"),
url("./icons.ttf?1a1066bff87ba6692e584ab2be4a19d1") format("truetype"),
url("./icons.svg?1a1066bff87ba6692e584ab2be4a19d1#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\f101";
}
.icon-floppy-disk:before {
    content: "\f102";
}
.icon-heart_vazado:before {
    content: "\f103";
}
.icon-heart:before {
    content: "\f104";
}
.icon-twitter:before {
    content: "\f105";
}
.icon-whatsapp:before {
    content: "\f106";
}
